* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgb(239, 183, 62);
}

nav img {
    margin-left: 10%;
    width: 80%;
}

nav .team-name {
    font-size: 36px;
    color: #00ff00;
    text-align: center;
}

nav li {
    text-align: center;
}

.container {
    float: none;
}

.section-title {
    font-size: 32px;
    color: #0000ff;
}

.contents {
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
}

.section {
    border-top: dashed 10px #ff0000;
    border-bottom: dashed 10px #ff00ff;
    margin: 20px;
}

.gallely {
    float: right;
}

.gallely img {
    width: 300px;
}

.gallely .contents>div {
    float: left;
}

.events {
    clear: both;
}

.events li {
    color: blueviolet;
}

.news {
    float: right;
}

.news li {
    color: deepskyblue;
}

.uniform {
    clear: both;
}

footer {
    background-color: #000000;
    color: #00ff00;
    overflow: auto;
    width: 100%;
}

footer dl {
    margin-right: 40px;
    float: left;
}

footer dt {
    font-size: 120%;
}

footer li {
    margin-left: 10px;
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #00ff00;
}

.footer-right {
    float: right;
    text-align: right;
}

.footer-right img {
    width: 300px;
}