* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgb(250, 250, 250);
}

nav {
    margin-bottom: 40px;
    background-color: rgb(169, 30, 33);
}

nav img {
    width: 100%;
}

.nav-bar {
    overflow: auto;
    width: 960px;
    margin: auto;
    margin-top: -7px;
}

.nav-bar .team-name {
    color: rgb(239, 183, 62);
    float: left;
    font-size: 36px;
}

.nav-bar ul {
    float: right;
}

.nav-bar li {
    float: left;
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px 8px;
    display: block;
    transition: 1.0s;
}

.nav-bar a:hover {
    background-color: #ffffff;
    color: #000000;
}

.container {
    width: 960px;
    margin: auto;
}

.section-title {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    text-align: center;
}

.contents {
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
}

.col-6 {
    width: 960px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}

.col-4 {
    width: 620px;
    padding: 10px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}

.col-3 {
    width: 460px;
    padding: 10px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}

.col-2 {
    width: 300px;
    padding: 10px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}

.col-1 {
    width: 140px;
    padding: 10px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}

.section {
    background-color: #ffffff;
}

.aboutus {
    text-align: center;
}

.gallely {}

.gallely img {
    width: 90%;
    transition: 1.0s;
}

.gallely img:hover {
    width: 105%;
    margin-top: -20px;
}

.gallely .col-2 {
    text-align: center;
}

.events {}

.events ul {
    margin-left: 140px;
    margin-bottom: 15px;
}

.join-btn {
    margin-left: 200px;
    background-color: rgb(239, 183, 62);
    color: #ffffff;
    text-decoration: none;
    barder: none;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    transition: 1.0s;
}

.join-btn:hover {
    background-color: #ffffff;
    color: #000000
}

.news {}

.news ul {
    margin-left: 120px;
}

.uniform img {
    margin: auto;
    margin-left: 160px;
    width: 640px;
}

footer {
    background-color: rgb(169, 30, 33);
    color: #ffffff;
    overflow: auto;
    width: 100%;
    padding: 10px 0px;
}

footer .footer-contents {
    width: 960px;
    overflow: auto;
    margin: auto;
}

footer dl {
    margin-right: 40px;
    float: left;
}

footer dl:last-child {
    margin-right: 0px;
}

footer dt {
    font-size: 120%;
}

footer li {
    margin-left: 10px;
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

.footer-right {
    float: right;
    text-align: right;
    margin-top: 80px;
}

.footer-right img {
    width: 300px;
}